<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<http auto-config="true">
		<intercept-url pattern="/offerArticle" access="ROLE_USER" />
		<intercept-url pattern="/bid" access="ROLE_USER" />
		<intercept-url pattern="/bidHistory" access="ROLE_ADMIN" />
		
		<form-login login-page="/login.do" default-target-url="/"
			authentication-failure-url="/loginfailed.do" />
		<logout logout-success-url="/logout.do" />
	</http>
 
	<authentication-manager>
		<authentication-provider ref="authenticationProvider" />
	</authentication-manager>
 
	<beans:bean id="authenticationProvider" class="at.dinauer.fhbay.security.FhBayAuthenticationProvider" />
</beans:beans>